* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

#root {
    max-width: 1440px;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.con{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: start;
    gap: 1px;
   ;
}
.left{
    width: 600px;
    height: 600px;
    background-color: #050A24 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}
.left>.logo{
    width: 80%;
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 40px;
    text-align: center;
}
.logo>h1{
    font-size: 29px;
    color: #fff;
    text-align: center;
}
.logo>span{
    width: 10px;
    height:5px;
    background-color: aqua;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 5px;
   }

   .left>h4{
    width: 400px;
    font-size: 45px;
    text-align: start;
    color: #fff;
    margin-right: 50px;
   }
   .right{
    width: 600px;
    height: 500px;
    padding:80px;
   }
   .right>h1{
    font-size: 20px;
    text-align: start;
    margin-bottom: 20px;
   }
   .icon_user{
    width: 60%;
    height: 15%;
    margin-bottom:10px;
   }
   .icon_user>h6{
    color: var(--foreground-default, #344054);  }

   .icon_user>input{
    width: 100%;
    border: 3px solid var(--outline-primary, #D1E9FF);
    outline: none;
    border-radius: 10px;
    padding: 6px;
   }
   .icon_passport{
    width: 60%;
    height: 15%;
    margin-bottom: 10px;
    }
    .icon_passport>h6{
        color: var(--foreground-default, #344054);  }
    .icon_passport>input{
        width: 100%;
        border: 3px solid var(--outline-primary, #D1E9FF);
        outline: none;
        border-radius: 10px;
        padding: 6px;
       }
    .user_button>button{
     padding: 6px 78px;
     border-radius: 8px;
     background-color: rgb(33, 163, 238);
     border: none;
     margin-bottom: 20px;
    }
    .user_button>button>a{
        color: #fff;
    }
    .google{
        width: 60%;
        height: 20%;
        text-align: center;
        background: var(--container-primary-low, #D1E9FF);
        border-radius:10px ;
        padding: 10px;
        margin-bottom: 20px;
    }
    .google>img{
        width: 15px;
        text-align: center;
    }
    .google>a{
        text-align: center;
        color:rgb(33, 163, 238);
    }
    .log_in{
        width: 60%;
        height: 10%;
        display: flex;
        gap: 10px;
    }
    .log_in>a{
        color: var(--foreground-primary, #1570EF);
    }